/*************************
Imports
**************************/
@import "../core/jt-variables";
@import "../core/jetthunder-theme";
/*************************
NavBar Component
**************************/
.jt-navbar {background-color: $white; color: #00b0ff;}
.jt-navbar-break{flex: 1 1 auto;}
/*************************
Logo
**************************/
.jt-logo{height:50px;fill:#2c8ebb}
.jt-logo:hover{animation:jtLogoAnimation 5s infinite linear}
/*************************
KeyFrames
**************************/
path{fill:inherit}
@keyframes jtLogoAnimation {
  0%{fill:#00c0ff}
  7.1428571429%{fill:#00d8ff}
  14.285714286%{fill:#0ff}
  21.428571429%{fill:#0f0}
  28.571428572%{fill:#0f0}
  35.714285715%{fill:#86fa00}
  42.857142857%{fill:#ffdb00}
  50%{fill:#ff8d00}
  57.142857143%{fill:#ff0001}
  64.285714286%{fill:#ff0068}
  71.428571429%{fill:#ff00ce}
  78.571428572%{fill:#f0f}
  85.714285715%{fill:#ff2eff}
  92.857142858%{fill:#b437ff}
  100%{fill:#616aff}
}
/*************************
Media Queries
**************************/
// Extra small devices (portrait phones, less than 34em)
@media (max-width: 33.9em) {}

// Small devices (landscape phones, less than 48em)
@media (max-width: 47.9em) {}

// Medium devices (tablets, less than 62em)
@media (max-width: 61.9em) {}

// Large devices (desktops, less than 75em)
@media (max-width: 74.9em) {}
