<!-- Sidenav Component -->
<md-sidenav-layout class="sidenav-layout" id="sidenav-layout" fullscreen>
  <jt-navbar (notifyOpenSideNav)="openSideNav($event)"></jt-navbar>
  <md-sidenav class="jt-sidenav" id="jt-sidenav" #sidenav mode="over">
    <md-toolbar class="jt-sidenav-header">
      <h2 class="jt-white">Navigation</h2>
      <span class="jt-sidenav-header-break"></span>
      <button md-icon-button (click)="closeSideNav()"  md-tooltip="Close Menu" tooltip-position="below">
        <md-icon class="material-icons">close</md-icon>
      </button>
    </md-toolbar>
    <md-list>
      <md-list-item routerLink="/home" role="link" (click)="closeSideNav()">
        <img class="jt-sidenav-icon" md-list-avatar src="../assets/images/navbar/homeIcon.svg">
        <h3 md-line>Home</h3>
        <p md-line>
          <span>Hompage</span>
          <span> -- The awesome blog </span>
        </p>
      </md-list-item>
      <md-list-item routerLink="/blog" role="link" (click)="closeSideNav()">
        <img class="jt-sidenav-icon" md-list-avatar src="../assets/images/navbar/blogIcon.svg">
        <h3 md-line>Blog</h3>
        <p md-line>
          <span>Blog</span>
          <span> -- The awesome blog </span>
        </p>
      </md-list-item>
      <md-list-item routerLink="/profile" role="link" (click)="closeSideNav()">
        <img class="jt-sidenav-icon" md-list-avatar src="../assets/images/navbar/profileIcon.svg">
        <h3 md-line>Profile</h3>
        <p md-line>
          <span>Profile</span>
          <span> -- The awesome author </span>
        </p>
      </md-list-item>
    </md-list>
  </md-sidenav>
  <router-outlet></router-outlet>
</md-sidenav-layout>
<!-- /Sidenav Component -->
