<!-- Home Component -->
<section class="jt-homeView" id="jt-homeView">
  <div class="container-fluid text-xs-center">
    <div class="row-fluid">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 padding-none" *ngFor="let post of posts">
        <div class="jt-homeItem">
          <div class="jt-homeItemImage">
            <!--<img src="app/assets/images/blog/{{post.photo}}" />-->
          </div>
          <div class="jt-homeItemOverlay">
            <div class="jt-homeItemOverlayContent">
              <div class="jt-homeItemOverlayText">
                <div class="jt-homeItemOverlayInfo">
                  <h3>{{post.title}}</h3>
                  <p>{{post.date}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Home Component -->
